---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgres16
spec:
  podSecurityContext:
    runAsUser: 999
    runasGroup: 999

  instances: 3
  #imageName: ghcr.io/cloudnative-pg/postgresql:16.2-6
  #imageName: tensorchord/cloudnative-pgvecto-rs:16-v0.2.1
  imageName: ghcr.io/immich-app/postgres:16-vectorchord0.4.1-pgvectors0.3.0
  primaryUpdateStrategy: unsupervised
  storage:
    size: 50Gi
  superuserSecret:
    name: postgres-superuser
  enableSuperuserAccess: true

  postgresql:
    pg_hba:
      - local all all trust
      - host all all all md5
    shared_preload_libraries:
      - "vectors.so"
      - "vchord.so"
    parameters:
      max_connections: "400"
      shared_buffers: 256MB
      search_path: '"$user", public, vectors'


  bootstrap:

  monitoring:
    enablePodMonitor: true

  backup:
    retentionPolicy: 30d
    barmanObjectStore: &barmanObjectStore
      data:
        compression: bzip2
      wal:
        compression: bzip2
        maxParallel: 8
      destinationPath: s3://cloudnative-pg/
      endpointURL: https://s3.jw2.org
      serverName: &currentCluster postgres16-v6
      s3Credentials:
        accessKeyId:
          name: minio-pgsql
          key: minio_s3_access_key
        secretAccessKey:
          name: minio-pgsql
          key: minio_s3_secret_access_key

  # Note: previousCluster needs to be set to the name of the previous
  # cluster when recovering from an existing cnpg cluster
  #bootstrap:
  #  recovery:
  #    source: &previousCluster postgres16-v5
  # Note: externalClusters is needed when recovering from an existing cnpg cluster
  #externalClusters:
  #  - name: *previousCluster
  #    barmanObjectStore:
  #      <<: *barmanObjectStore
  #      serverName: *previousCluster
