---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wordpress
  namespace: brody
spec:
  interval: 15m
  chart:
    spec:
      chart: wordpress
      version: 28.1.8
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 5m
  values:
    ingress:
      enabled: true
      ingressClasName: internal
      hostname: brodywhite.org
    allowEmptyPassword: false
    existingSecret: wordpress
    mariadb:
      auth:
        existingSecret: mariadb
