---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app silverbullet
  namespace: default
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 2
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: zefhemel/silverbullet
              tag: 2.4.1
            env:
              TZ: ${TIMEZONE}
            resources:
              requests:
                cpu: 50m
                memory: 64Mi
              limits:
                memory: 512Mi
        statefulset:
          volumeClaimTemplates:
            - name: space
              accessMode: ReadWriteOnce
              size: 1Gi
              globalMounts:
                - path: /space
    service:
      main:
        controller: main
        ports:
          http:
            port: 3000
    ingress:
      main:
        enabled: true
        className: internal
        hosts:
          - host: &host "notes.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - *host
