---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: wordpress
  namespace: three14
spec:
  interval: 15m
  chart:
    spec:
      chart: wordpress
      version: 27.2.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 5m
  values:
    ingress:
      enabled: true
      ingressClasName: internal
      hostname: three14creations.com
