---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app paperless
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  values:
    controllers:
      main:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          main:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.19.5@sha256:5f2a72fd7be42c6b1d8fa1751606a140452d4c3e6e829ae6b1b15e3c95129481
            env:
              USERMAP_UID: 1000
              USERMAP_GID: 1000
              PAPERLESS_TIME_ZONE: ${TIMEZONE}
              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_WEBSERVER_WORKERS: 2
              PAPERLESS_TASK_WORKERS: 2
              PAPERLESS_URL: https://paperless.${SECRET_DOMAIN}
              PAPERLESS_PORT: 8000
              PAPERLESS_CONSUMPTION_DIR: /data/nas/consume
              PAPERLESS_DATA_DIR: /data/local/data
              PAPERLESS_EXPORT_DIR: /data/nas/export
              PAPERLESS_MEDIA_ROOT: /data/local/media
              PAPERLESS_CONSUMER_POLLING: 60
              PAPERLESS_CONSUMER_RECURSIVE: true
              PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: true
              PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
              PAPERLESS_OCR_LANGUAGE: eng
              PAPERLESS_OCR_LANGUAGES: eng
              PAPERLESS_REDIS: redis://dragonfly.database.svc.cluster.local
              PAPERLESS_DBHOST: postgres16-rw.database.svc.cluster.local
              PAPERLESS_DBNAME: paperless
              # sso
              PAPERLESS_APPS: allauth.socialaccount.providers.openid_connect
              PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
              PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
              #PAPERLESS_DISABLE_REGULAR_LOGIN: 'true'
              PAPERLESS_OCR_USER_ARGS: '{"invalidate_digital_signatures": true, "continue_on_soft_render_error": true}'
              # database
              PAPERLESS_DBUSER:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret-paperless-user
                    key: LOGIN
              PAPERLESS_DBPASS:
                valueFrom:
                  secretKeyRef:
                    name: paperless-secret-paperless-user
                    key: PASSWORD
            envFrom:
              - secretRef:
                  name: paperless-secret

            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
            resources:
              requests:
                cpu: 15m
                memory: 2048Mi
              limits:
                memory: 2048Mi

    service:
      main:
        controller: main
        ports:
          http:
            port: &httpPort 8000

    ingress:
      main:
        className: internal
        hosts:
          - host: &host paperless.${SECRET_DOMAIN}
            paths:
              - path: /
                service:
                  identifier: main
                  port: *httpPort
        tls:
          - hosts:
              - *host

    persistence:
      data:
        existingClaim: *app
        globalMounts:
          - path: /data/local
      nas:
        type: nfs
        server: prox.${SECRET_DOMAIN}
        path: /saspool1/docs/paperless
        globalMounts:
          - path: /data/nas
